.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .title {
    display: flex;
    padding: 0.2em 2em;
    margin: 0.1em;
    font-size: 6em;
    justify-content: center;
  }

  .subTitle {
    display: flex;
    padding: 0.1em 1em;
    margin: 0.1em;
    font-size: 3em;
    justify-content: center;
  }
}
