@import "./variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  @media ($mobile) {
    margin-top: 2em;
  }
  @media ($desktop) {    
    justify-content: center;
  }

  .title {
    display: flex;
    padding: 0.2em 2em;
    margin: 0.1em;
    font-size: 6em;
    letter-spacing: 0.01em;
    justify-content: center;
    text-align: center;
  }

  .subTitle {
    display: flex;
    padding: 0.1em 1em;
    margin: 0.1em;
    font-size: 3em;
    justify-content: center;
    text-align: center;
  }

  .link {
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    padding: 1em 2.5em;
    margin: 1em;
    background-color: inherit;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: inset 0 0 0 2px #ffffff21;

    &:hover {
      background-color: darken(#2e3141, 3%);
    }
  }
}
