@import "./variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .title {
    display: flex;
    padding: 0.2em 2em;
    margin: 0.5em;
    font-size: 6em;
    letter-spacing: 0.01em;
    justify-content: center;
    text-align: center;
    line-height: 1.2em;

    @media ($mobile) {
      margin: 0.1em;
    }
  }

  .subTitle {
    display: flex;
    padding: 0.1em 1em;
    margin: 0.5em;
    font-size: 3em;
    justify-content: center;
    text-align: center;
    line-height: 1.2em;
    
    @media ($mobile) {
      font-size: 2rem;
      margin: 0.2em;
    }
  }

  .link {
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    padding: 1em 2.5em;
    margin: 1em;
    background-color: inherit;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 2px #ffffff21;

    @media ($mobile) {
      flex-grow: 1;
      margin: 0.3em;
      padding: 0.9em 0.4em;
      align-self: stretch;
      font-size: 1.4rem;
    }

    &:hover {
      background-color: darken(#2e3141, 3%);
    }
  }
}
