.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  margin: 1.5em;
  background-color: #353849;
  border-radius: 6px;
  min-height: 28em;

  .info {
    display: flex;
    flex-direction: column;
    flex-basis: 15em;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 1em;

    .title {
      display: flex;
      font-size: 2.5em;
      margin: 0.5rem;

      .additionalVariantsDropdown {
        padding: 0.1em 0.3em;
        background-color: inherit;
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
        border: 1px solid #aaa5;

        option {
          background-color: #333;
          font-weight: inherit;
          font-size: 0.8em;
        }
      }
    }

    .description {
      display: flex;
      font-size: 1.2em;
      margin: 0.5rem;
      flex-grow: 1;
    }

    .links {
      display: flex;
      margin: 1em 0.5em;

      .icon {
        margin-right: 0.3em;
      }

      .link {
        display: flex;
        align-items: center;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        padding: 1em 1.5em;
        margin-right: 0.8em;
        background-color: inherit;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        white-space: nowrap;
        border-radius: 8px;
        box-shadow: inset 0 0 0 2px #ffffff21;

        &:hover {
          background-color: darken(#2e3141, 3%);
        }

        &[data-is-disabled="true"] {
          cursor: not-allowed;
          opacity: 80%;
          color: grey;
        }
      }
    }
  }

  .imageLink {
    margin: 1em;

    .image {
      border-radius: 6px;
    }
  }
}
