.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  background-color: #353849;
  border-radius: 6px;

  .title {
    display: flex;
    font-size: 2em;
    margin: 0.5em 1em;
  }

  .description {
    display: flex;
    font-size: 1.2em;
    margin: 0.5em 1em;
  }

  .links {
    display: flex;
    margin: 0.5em;

    .link {
      cursor: pointer;
      text-decoration: none;
      padding: 1em 1.5em;
      margin-right: 0.8em;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      box-shadow: inset 0 0 0 2px rgb(255 255 255 / 13%);

      &[data-is-disabled="true"] {
        cursor: not-allowed;
        opacity: 80%;
        color: grey;
      }
    }
  }
}
