@import "./variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 4em;
  @media ($mobile) {
    padding-top: 0;
  }

  .title {
    display: flex;
    margin-bottom: 1em;
    @media ($mobile) {
      margin-bottom: 0.5em;
    }
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media ($mobile) {
      margin: 0 1em;
    }
    @media ($desktop) {
      & > [data-size="large"] {
        flex-basis: calc(50% - 10em);
      }
      & > [data-size="small"] {
        flex-basis: calc(33% - 8.6em);
      }
    }
  }
}
